{
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "parser": "solidity-parse",
                "plugins": ["prettier-plugin-solidity"]
            }
        }
    ]
}